::root{

}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    
}

body{
    font-family: 'Opens Sans', sans-serif;
    font-size: 2rem;
    
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.main-bg{
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-position: center center;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

